footer {
	position: fixed;
        color: #00FF00;
        height: 60px;
        width: 100%;
	border-top: 1px solid #CCCCCC;
}

footer p {
	position: absolute;
	text-align: center;
	top: 10%;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

